<div id="main_menubar">
  <div class="menubar_layout"></div>
  <ul>
    <li class="logo">
      <img src="assets/img/ic/logo.svg" style="width: 24px;height: 24px;" />
      <ul>
        <li id="about_this_mac_btn">
          <a href="https://hanjing7.github.io/">
            <p>Jing's Github Blog</p>
          </a>
        </li>
        <li>
          <a href="http://hanjing7.com/">
            <p>Jing's Previous Site</p>
          </a>
        </li>
        <div class="split_line"></div>
        <li>
          <div class="menu_block">
            BYTON
          </div>
        </li>
        <li>
          <p>
            <a href="https://www.byton.com/" target="_blank">
              BYTON Home Page
            </a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://hanjing-byton.bitbucket.io/" target="_blank">
              Online Assets Library (Bitbucket Vue.js)
            </a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://sketch.cloud/s/akzxD" target="_blank">
              Sketch Pattern Library
            </a>
          </p>
        </li>
        <li>
          <p>
            <a
              href="http://hanjing7.com/portfolioAsset/OTAstyle/OTA_pure.html"
              target="_blank"
            >
              CSS Style Guide & UI Components
            </a>
          </p>
        </li>
        <div class="split_line"></div>
        <li>
          <div class="menu_block">
            FINRA
          </div>
        </li>
        <li>
          <p>
            <a
              href="https://www.finra.org/registration-exams-ce/new-crd"
              target="_blank"
            >
              WebCRD
            </a>
          </p>
        </li>
        <li>
          <p>FinPro</p>
            <div class="right_arrow_space">▶</div>
            <div class="right_arrow">▶</div>
            <ul>
                <li>
                  <a href="https://www.finra.org/registration-exams-ce/finpro" target="_blank">
                    <p>Financial Professional Gateway</p>
                  </a>
                </li>
                <li>
                  <a
                    href="https://chutianwen.github.io/CarpoolApp2019/finpro"
                    target="_blank"
                  >
                    <p>Web Prototype</p>
                  </a>
                </li>
                <li>
                    <a
                      href="https://youtu.be/X6CL5w7LNDM"
                      target="_blank"
                    >
                      <p>Video Prototype on Mobile</p>
                    </a>
                  </li>
                  <li>
                      <a
                        href="https://youtu.be/V89y4a8G0F4"
                        target="_blank"
                      >
                        <p>Video Prototype on Web</p>
                      </a>
                    </li>
              
              <div class="split_line"></div>
            </ul>
        </li>
        <li>
          <p>
            <a href="https://brokercheck.finra.org/" target="_blank">
              BrokerCheck
            </a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://ofac.finra.org/#/" target="_blank">
              OFAC Search Tool
            </a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://tools.finra.org/fund_analyzer/" target="_blank">
              Fund Analyzer
            </a>
          </p>
        </li>
        <div class="split_line"></div>
        <li>
          <div class="menu_block">
            Nexient
          </div>
        </li>
        <li>
          <p>
            <a href="http://mylife.adp.com" target="_blank">
              My ADP Life
            </a>
          </p>
        </li>
        <li>
          <p>
            <a href="http://ux.nexient.com" target="_blank">
              Nexient UI Story
            </a>
          </p>
        </li>
        <div class="split_line"></div>
        <li>
          <div class="menu_block">
            UMich CCI
          </div>
        </li>
        <li>
          <p>
            <a href="https://cci.med.umich.edu/" target="_blank">
              Cancer Center Informatics (Drupal)
            </a>
          </p>
        </li>

        <!-- <li>
          <p>Public Projects</p>
          <div class="right_arrow_space">▶</div>
          <div class="right_arrow">▶</div>
          <ul>
            <div class="menu_block">
              <p>FINRA</p>
              <li>
                <a href="https://ofac.finra.org/#/" target="_blank">
                  <p>OFAC Search Tool</p>
                </a>
              </li>
              <li>
                <a
                  href="https://tools.finra.org/fund_analyzer/"
                  target="_blank"
                >
                  <p>Fund Analyzer</p>
                </a>
              </li>
            </div>
            <div class="split_line"></div>
            <div class="menu_block">
              <p>FINRA Sides Project</p>
              <li>
                <a
                  href="https://www.finra.org/compliance-calendar"
                  target="_blank"
                >
                  <p>Compliance Calendar</p>
                </a>
              </li>
              <li>
                <a
                  href="https://www.finra.org/compliance-calendar"
                  target="_blank"
                >
                  <p>Investor.gov</p>
                </a>
              </li>
              <li>
                <a
                  href="https://www.finra.org/compliance-calendar"
                  target="_blank"
                >
                  <p>Compliance Calendar</p>
                </a>
              </li>
            </div>
            <div class="split_line"></div>
            <div class="menu_block">
              <p>Nexient</p>
              <li>
                <a href="http://mylife.adpts.com/" target="_blank">
                  <p>ADP Portal</p>
                </a>
              </li>
              <li>
                <p>root</p>
              </li>
            </div>
            <div class="split_line"></div>
            <li>
              <p>Clear Menu</p>
            </li>
          </ul>
        </li> -->

        <!--  <div class="split_line"></div>
                <li>
                    <p class="grey_li">Force Quit...</p>
                    <div class="right_arrow_space">⌥⌘⎋</div>
                    <div class="right_arrow">⌥⌘⎋</div>
                </li>
                <div class="split_line"></div>
                <li>
                    <p>Sleep</p>
                </li>
                <li>
                    <p>Restart...</p>
                </li>
                <li id="shutdown">
                    <p>Shut Down...</p>
                </li>
                <div class="split_line"></div>
                <li>
                    <p>Log Out ds...</p>
                    <div class="right_arrow_space">⇧⌘Q</div>
                    <div class="right_arrow">⇧⌘Q</div>
                </li> -->
      </ul>
    </li>

    <div id="right_icon">
      <li>
        <p>{{ systemDate }} &nbsp; {{ systemTime }}</p>
        <!-- <ul>
                    <li class="grey_li">
                        <p>{{systemDate}}</p>
                    </li>
                    <div class="split_line"></div>
                    <li>
                        <p>View as Analog</p>
                    </li>
                    <li>
                        <div class="left_check">✓</div>
                        <p>View as Digital</p>
                    </li>
                    <div class="split_line"></div>
                    <li>
                        <p>Open Date & Time Preferences...</p>
                    </li>
                </ul> -->
      </li>
      <!-- <li>
                <i class="fa fa-lock"></i>
            </li>
            <li>
                <i class="fa fa-volume-up system_volume" style="width:14px"></i>
                <ul class="system_volume">
                    <input type="range" id="volume" />
                </ul>
            </li>
            <li>
                <i class="fa fa-search"></i>
                <ul class="spotlight">
                    <li class="spotlight_bar">
                        <p>Spotlight</p>
                        <input type="search">
                    </li>
                </ul>
            </li>
            <li class="sidebar_btn">
                <i class="fa fa-list"></i>
            </li> -->
    </div>
  </ul>
</div>
