<div class="triangle1 block"></div>
<div class="triangle2 block"></div>
<div class="triangle3 block"></div>
<div class="triangle4 block"></div>

<div class="content-area">
  <a routerLink="/home" class="back bc-float">
    <i class="fa fa-chevron-left"></i><span>Back To Home</span>
  </a>
  <div class="level">
    <img src="assets/img/res/bc/landing.png" alt="" />
  </div>
  <div class="content">
    <div class="spaceTop"></div>
    <div class="left">
      <h1>BrokerCheck</h1>
      <div class="seperator"></div>
    </div>
    <div class="right">
      <h5>FINRA</h5>
      <label class="grey">Jun 2017</label>
    </div>
    <p>
      BrokerCheck is a free tool from FINRA that can help you research the
      professional backgrounds of <b>629,847 brokers</b> and <b>3,607 brokerage firms</b>, as
      well as investment adviser firms and advisers.
    </p>
  </div>

  <div class="content">
    <h6>Where BrokerCheck Information Comes From</h6>
    <p>
      The information about brokers and brokerage firms that you find in
      BrokerCheck comes from the Central Registration Depository (CRD®). All
      brokers must be licensed and registered by FINRA, and CRD is the
      securities industry online registration and licensing database,
      Information in CRD is obtained through forms that brokers, brokerage firms
      and regulators complete as part of the securities industry registration
      and licensing process. The information about investment adviser firms and
      representatives comes from the Securities and Exchange Commission's
      Investment Adviser Registration Depository (IARD) database.
    </p>
    <p>
      <a href="https://vimeo.com/122119585" class="button is-primary"><b>BrokerCheck Intro Video</b></a>
    </p>
  </div>

  <div class="content">
    <h6>What You’ll Find in a BrokerCheck Report</h6>
    <div class="columns">
      <div class="column">
        <p>
          For Brokers <b>currently registered</b> with FINRA or a national
          securities exchange within the last 10 years, contains:
        </p>
        <ul class="square">
          <li>
            A report summary that provides a brief overview of the broker and
            his or her credentials. A broker qualifications section that
            includes a listing of the broker's current registrations or
            licenses, if any, and industry exams he or she has passed.
          </li>
          <li>
            A registration and employment history section that consists of: A
            list of registered securities firms where the broker is currently
            and/or was previously registered.
          </li>
          <li>
            The broker's employment history for the last 10 years—both in and
            outside the securities industry—as reported by the broker on his or
            her last Form U4 (which securities firms use to register brokers
            with self-regulatory organizations (SROs) and states).
          </li>
          <li>
            Employment history includes full and part-time work,
            self-employment, military service, unemployment, and full-time
            education. A disclosure section that includes information about
            customer disputes, disciplinary events and financial matters on the
            broker's record. Some of these items may involve pending actions or
            allegations that have not been resolved or proven. The broker's most
            recently submitted comment(s), if any.
          </li>
        </ul>
      </div>
      <div class="column">
        <p>
          For Brokers whose registration <b>terminated more than 10 years</b>
          contains everything above, as well as:
        </p>
        <ul class="square">
          <li>The subject of a final regulatory action,</li>
          <li>Convicted of or pled guilty or no contest to certain crimes,</li>
          <li>
            Subject to a civil injunction involving investment-related activityD
            or found in a civil court to have been involved in a violation of
            investment-related statutes or regulations,
          </li>
          <li>
            Named as a respondent or defendant in an arbitration or civil
            litigation in which the broker was alleged to have committed a sales
            practice violation, and which resulted in an award or civil judgment
            against the broker,
          </li>
          <li>
            It is within the long term product pipeline to include the broker’s
            most recently submitted comment(s), if any. In BrokerCheck platform
            as well, so there are both sides of stories prerseented to
            investors.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <h2>Investor Personas</h2>
    <div class="columns">
      <div class="column">
        <div class="card no-shadow">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    class="userpic"
                    src="https://lh4.googleusercontent.com/-xwsCulgjzTU/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfWIZh8A50nGfvezAg2I4-C21iG0A/s96-c/photo.jpg"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Kristine</p>
                <p class="subtitle is-6">Mastery Investor</p>
              </div>
            </div>
            <div>
              <p>
                <b>Intro: </b> Spending more time surfing online and find
                information about brokers, don’t want to be rushed for meeting
                them physically
              </p>
              <p>
                <b>Usecase: </b>When looking for brokers, would like to know
                about financial future, want someone with proven experience,
                don’t want to be the 1st client.
              </p>
              <p>
                <b>Current Workflow: </b>Came to her broker organically through
                a prior business relationship. only conducted an informal
                background check of the broker (e.g., via a brokerage website or
                Google).
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card no-shadow">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    class="userpic"
                    src="https://secure.gravatar.com/avatar/90025520358197aba055ddf91e1a3184?s=96&d=https%3A%2F%2Fdustinstout.com%2Fwp-content%2Fthemes%2Fdtv-2017%2Fimages%2Fminioji-confused.png&r=pg"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">David</p>
                <p class="subtitle is-6">General Investor</p>
              </div>
            </div>
            <div>
              <p>
                <b>Intro: </b> New Person from the industry. Don't know exactly
                what FINRA do, have little background about the current Broker
                doesn't know the difference between broker & Investment Adviser
              </p>
              <p>
                <b>Usecase: </b>Hope to work with more experienced broker,
                working for large financial firms, the local brokers are
                preferred as they are comparatively easier to reach out.
              </p>
              <p>
                <b>Current Workflow: </b> Met the current broker through
                friend's recommendation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h3>Design Focus</h3>
    <p>
      By using the new BrokerCheck, users should be able to learn:
    </p>
    <ul class="circle">
      <li>"This broker has been involved in <b>investor risk events</b>"</li>
      <li>
        "This broker currently works at a firm with a high aggregate
        <b>volume of investor risk events</b>"
      </li>
      <li>
        "This broker has a history of working with firms that have been severely
        <b>disciplined</b> by a regulator"
      </li>
    </ul>
    <img src="assets/img/res/bc/InvestorRisk.png" alt="" />
    <hr />
    <h2>Design Iterations</h2>
    <div class="columns is-mobile">
      <div class="column">
        <img
          src="https://cdn.dribbble.com/users/673497/screenshots/6671842/blob"
          alt=""
        />
      </div>
      <div class="column">
        <img
          class="column"
          src="https://cdn.dribbble.com/users/673497/screenshots/6673277/timeline_viz.gif"
          alt=""
        />
      </div>
    </div>
    <br />
    <div class="columns">
      <div class="column">
        <img
          src="https://cdn.dribbble.com/users/673497/screenshots/6671926/attachments/1425391/brokercheck-search.png"
          alt=""
        />
      </div>
      <div class="column">
        <img
          src="https://cdn.dribbble.com/users/673497/screenshots/6671842/attachments/1425379/search_tiles.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!--End Content-->
  <hr />
  <div class="content">
    <h2>Usability Testing</h2>
    <p>
      After finishing design, we tested compliance professionals and individual
      investors with this new version of BrokerCheck tool, featuring updated
      versions of the search results page and the broker summary page.
    </p>
    <p>The objectives of the user testing were to:</p>
    <ul class="circle">
      <li>
        Gauge receptivity to the new design among representatives of member
        firms and identify any potential concerns about clarity and fairness.
      </li>
      <li>
        Test the usability, clarity, relevance and appeal of the new design for
        individual investors.
      </li>
      <li>
        Provide guidance to the design team for potential changes and
        refinements to the prototype.
      </li>
    </ul>
    <div class="spaceTop"></div>
    <h4>Testing Method:</h4>
    <p>
      We conducted <b>6</b> remotely-moderated usability tests with selected
      FINRA registered individuals, primarily senior compliance executives at
      major firms. as well as a diverse sample of <b>10</b> individual investors
      in the United States who trade with registered brokers or advisers.
    </p>
    <p>
      All interviews were conducted remotely using GoToMeeting conference
      technology.
    </p>
    <h6>Options for Primary Search:</h6>
    <p>Conducted A/B testing to observe if users tend to lookup primarily by</p>
    <ul class="diamond">
      <li>Financial Reperesentatives VS Financial Firms</li>
      <li>Name of Rep/Firms VS Location of Rep/Firms</li>
    </ul>
    <p>
      <a
        class="button is-primary"
        href="http://hanjing7.com/portfolioAsset/BC_proto/summary-clean.html"
        ><b>By Individual / Firm</b></a
      >
      &nbsp;
      <a
        class="button is-primary"
        href="http://hanjing7.com/portfolioAsset/BC_proto/index-b.html"
        ><b> Name / Location</b></a
      >
    </p>
  </div>
  <!--End Content-->
  <div class=" content">
    <h6>Options for Search Results</h6>
    <ul class="square">
      <li>
        Page A included color-coded tiles to represent active, inactive or
        suspended brokers/investment advisers.
      </li>
      <li>
        Page B used color-coded tiles, but also included a listing of each
        broker’s disclosures by type (visualized by icons).
      </li>
      <li>
        Page C, a modified version of Page B including ribbons showing inactive
        and suspended broker statuses.
      </li>
    </ul>
  </div>
  <div class="section">
    <div class="columns">
      <div class="column"><img src="assets/img/res/bc/a.png" alt="" /></div>
      <div class="column"><img src="assets/img/res/bc/b.png" alt="" /></div>
      <div class="column"><img src="assets/img/res/bc/c.png" alt="" /></div>
    </div>
  </div>

  <hr />

  <div class="content">
    <h2>Testing Result</h2>
    <h6>General Impression</h6>
    <p>
      All compliance officers were very familiar with the BrokerCheck homepage
      and praised its simplicity and ease-of-use. Investors on the other hand
      were generally unfamiliar with BrokerCheck, but appreciated the clean look
      of the home page.
    </p>
    <p>
      Most investors found the search functionality intuitive. Investors also
      appreciated the description of FINRA in the lower left corner, along with
      the description of BrokerCheck in the lower half of the web page.
    </p>

    <h6>Test Findings:</h6>
    <ul class="diamond">
      <li>
        More than 90% of user interviewed lookup
        <b>individual record</b> through BrokerCheck.
      </li>
      <li>
        Most often, investor respondents stated that they would initially look
        up a broker by <b>name</b> and <b>address</b>.
      </li>
      <li>
        Several compliance officers directly or implicitly expressed a desire to
        <b>sort the search results</b> by <b>firm</b> or <b>location</b>.
      </li>
      <li>
        From data perspective, it is more straightforward to
        <b>compare the same type of info together</b>.
        <!-- <li>Misunderstanding on firm tab: whether it is search for financial firm or search by firm?</li> -->
      </li>
      <hr />
      <li>
        Several compliance officers stated that they liked that
        <b>Version B</b> of the search results page presented the type of
        disclosures a broker had. Others found this information unnecessary.
      </li>
      <li>
        The appropriate term for <b>“disclosure”</b> raised a big discussion
        inside team. Used to be called “events to review”, but it was not clear
        for general public, even cause confusion even for professional users. In
        the end, we decided to go with the official term with a legend
        explaining it.
      </li>
      <li>Removed icons for categorizations, and replace with</li>
    </ul>

    <h6>Desired Features:</h6>
    <ul class="square">
      <li>
        Many industry professionals expressed a desire to be able to
        <b>sort the results</b> by firm or location.
      </li>
      <li>
        While only the “tile” format was available for viewing in this
        prototype, some respondents stated that they would have like to view the
        results page in a <b>list format</b>. Some felt that a list view would
        allow more brokers to be visible on one page and therefore make it
        easier to find the broker they were looking for.
      </li>
      <li>
        Investors assumed that they would be able to refine their search
        <b>for a particular broker by firm</b>.
        <span class="red">(future)</span>
      </li>
    </ul>

    <h2>Final Design</h2>
    <h6>Rep's Profile</h6>
    <a href="assets/img/res/crd/indv_BC.png" target="_blank">
      <img
        src="assets/img/res/crd/indv_BC.png"
        alt="Individual Page on BrokerCheck"
      />
    </a>
    <h6>Timeline Viz</h6>
    <p>
      visualization designed for financial representatives' timeline of
      employment and registration history.
    </p>
    <!--Timeline Visualization UI-->
    <div class="cp_embed_wrapper">
      <iframe
        name="cp_embed_1"
        src="https://codepen.io/jing-han/embed/qzmXRb?height=565&amp;theme-id=0&amp;default-tab=css%2Cresult&amp;user=jing-han&amp;slug-hash=orbobd&amp;pen-title=orbobd&amp;name=cp_embed_1"
        scrolling="no"
        frameborder="0"
        height="565"
        allowtransparency="true"
        allowfullscreen="true"
        allowpaymentrequest="true"
        title="qzmXRb"
        class="cp_embed_iframe "
        style="width: 100%; height:400px;overflow:hidden; display:block;"
        id="cp_embed_qzmXRb"
      ></iframe>
    </div>
    <h6>Design Tradeoffs</h6>
    <p>
      Dataset of Reps with extreme experience that nearly breaks the design.
    </p>
    <p>
      <a
        class="red"
        href="https://brokercheck.finra.org/individual/summary/2646681"
        ><b>Compact Timeline</b> (2646681)</a
      >
    </p>
    <p>
      <a
        class="red"
        href="https://brokercheck.finra.org/individual/summary/1828345"
        ><b>Busy Timeline</b> (2646681)</a
      >
    </p>
    <p>
      <a
        class="red"
        href="https://brokercheck.finra.org/individual/summary/2643369"
        ><b>Extremely Busy Timeline</b> (2643369)</a
      >: The busiest financial representative in BrokerCheck records have worked
      for 130 firms over the past 2 years.
    </p>
    <p>
      Looking into the Rep's dataset, a total of <b>57</b>/600,000
      representatives, less than 0.1% of the population, have more than
      <b>20</b>employments that cause slightly clustered display.
    </p>
    <p>
      Decide to keep the timeline as it covers majority of the cases. Special
      customization effort were taken to accommodate the edge case, such as
      <b>zoom in</b>, <b>grouping simultaneous employments</b> and
      <b>hover highlight</b> to enhance the accessibility and readability of the
      visualization.
    </p>
    <h6>Tiles view</h6>
    <!--Tiles View-->
    <div class="cp_embed_wrapper">
      <iframe
        name="cp_embed_1"
        src="https://codepen.io/jing-han/embed/BaBqJbj?height=565&amp;theme-id=0&amp;default-tab=result&amp;user=jing-han&amp;slug-hash=orbobd&amp;pen-title=orbobd&amp;name=cp_embed_1"
        scrolling="no"
        frameborder="0"
        height="565"
        allowtransparency="true"
        allowfullscreen="true"
        allowpaymentrequest="true"
        title="BaBqJbj"
        class="cp_embed_iframe "
        style="width: 100%; height:600px;overflow:hidden; display:block;"
        id="cp_embed_BaBqJbj"
      >
      </iframe>
    </div>
  </div>
  <div class="spaceTop"></div>
  <div class="content">
    <h3>Crowdtesting</h3>
    <p>
      Through Crowdtesting, we identified several usability issues within the
      product in progress:
    </p>
    <ul class="square">
      <li>
        Took some time to figure out what to be filled in each field to run the
        search query (), as a solution, we put placeholder into each search
        field.
      </li>
      <li>
        Investors in particular had a difficult time understanding the icons on
        Page C & B as many did not understand the technical meaning of the word
        “disclosures.”
      </li>
      <li>
        Many of the investors interviewed were unsure of the difference between
        an investment advisor and a broker.
      </li>
    </ul>

      <h6>Design Decision</h6>
      <ul class="circle">
        <li>
          Adding <b>Tooltip</b> on cards & <b>legend</b> on footer to explain
          professional terms that investors are professionals are confused with,
          so we included a legend and tooltip in the website to explain
          "Disclosure", "BD", "IA", and "[Disclosure Types]".
        </li>
    </ul>
    <div class="columns ">
      <div class="column">
        <img src="assets/img/res/bc/legend.png" alt="" />
      </div>
      <div class="column">
        <img src="assets/img/res/bc/tooltip.png" alt="" />
      </div>
    </div>
  </div>

  <!--End Content -->
  <div class="section">
<div class="content">
    <h3>Results</h3>
    <ul class="square">
      <li>Improve ability for investors to become informed</li>
      <li>Provide a user experience that the users will love</li>
      <li>Make users feel empowered</li>
    </ul>
    <nav class="level">
        <div class="level-itehm has-text-centered">
          <div>
            <p class="heading">Total Annual Visit</p>
            <p class="title" style="color:#0282D1">518.7K</p>
          </div>
        </div>
        <div class="level-itehm has-text-centered">
          <div>
            <p class="heading">Average Visit Durationo</p>
            <p class="title" style="color:#233E66">3:10 min</p>
          </div>
        </div>
        <div class="level-itehm has-text-centered">
          <div>
            <p class="heading">Page Per Visit</p>
            <p class="title" style="color:#9EC405">3.64</p>
          </div>
        </div>
      </nav>
</div>
    <div class="columns">
      <div class="column content">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            If you are investing, ensure your broker is properly licensed.
            <a href="https://twitter.com/FINRA?ref_src=twsrc%5Etfw">@FINRA</a
            >&#39;s BrokerCheck is a free online resource that allows consumers
            to review the credentials of both individuals and firms.
            <a
              href="https://twitter.com/hashtag/stopscams?src=hash&amp;ref_src=twsrc%5Etfw"
              >#stopscams</a
            >
            <a
              href="https://twitter.com/hashtag/smartmoney?src=hash&amp;ref_src=twsrc%5Etfw"
              >#smartmoney</a
            >
            <a href="https://t.co/1qA6hyyrAv">pic.twitter.com/1qA6hyyrAv</a>
          </p>
          &mdash; Tennessee Department of Commerce &amp; Insurance
          (@TNCommerceInsur)
          <a
            href="https://twitter.com/TNCommerceInsur/status/1173748558014623745?ref_src=twsrc%5Etfw"
            >September 17, 2019</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <div class="column content">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            Commonwealth went 3 years without a single disclosure on FINRA
            BrokerCheck. The streak has broken. The firm has agreed to pay about
            $888K in restitution over a mutual-fund share class case
            <a href="https://t.co/VGLDplTDMQ">https://t.co/VGLDplTDMQ</a>
          </p>
          &mdash; Financial Planning (@finplan)
          <a
            href="https://twitter.com/finplan/status/1071676437214707712?ref_src=twsrc%5Etfw"
            >December 9, 2018</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <div class="column content">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            So much damage could be avoided if people just used
            <a href="https://twitter.com/FINRA?ref_src=twsrc%5Etfw">@FINRA</a
            >&#39;s BrokerCheck<a href="https://t.co/QBrjluNL7M"
              >https://t.co/QBrjluNL7M</a
            >
          </p>
          &mdash; Dave Michaels (@davidamichaels)
          <a
            href="https://twitter.com/davidamichaels/status/897896073976582144?ref_src=twsrc%5Etfw"
            >August 16, 2017</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            FINRA BrokerCheck is another great resource to determine if
            you&#39;re dealing with a registered broker or IA.<a
              href="https://t.co/fhnXkY3mzh"
              >https://t.co/fhnXkY3mzh</a
            >
          </p>
          &mdash; Investment, Esq. (@PghLaw412)
          <a
            href="https://twitter.com/PghLaw412/status/1038180860975935489?ref_src=twsrc%5Etfw"
            >September 7, 2018</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
  <div class="content">
    <h2>Flying into the Future</h2>
    <i class="red fa-lg fa fa-link"></i>
    <a class="red" href="https://brokercheck.finra.org/"
      >&nbsp;<b>BrokerCheck Home Page</b></a
    >
    <ul class="diamond">
      <li>
      Ensure that all complaints, arbitration awards, and settlements are
    promptly and accurately recorded in a broker’s and/or firm’s CRD
    record(s);</li>
    <li>Ensure that the data disclosed via BrokerCheck is, at a minimum,
    congruous with the most liberal state sunshine law;</li>
    <li>Include in BrokerCheck reports data concerning whether arbitration awards
    or settlements were actually paid;</li>
    <li>Add statistical information on the BrokerCheck home page to allow an
    investor to put an individual BrokerCheck report into context (e.g., include
    statistics showing the total number of registered brokers in the industry
    and the total number in the industry with one, two, three, four, or more
    investor complaints on their record);</li>
    <li>Open the entire BrokerCheck database to the public (e.g., academics and
    other third parties) to allow deep data analysis and development of
    quantitative and qualitative reports concerning brokers and brokers’
    co-workers.</li>
  </ul>
    
  </div>
<div class="spaceTop"></div>
  <!--End Content Area-->
  <app-home></app-home>
</div>
