<div class="triangle1 block"></div>
<div class="triangle2 block"></div>
<div class="triangle3 block"></div>
<div class="triangle4 block"></div>

<div class="content-area">
  <a routerLink="/home" class="back bc-float">
    <i class="fa fa-chevron-left"></i><span>Back To Home</span>
  </a>
  <iframe
    style="width: 100%;height: 500px; margin-top: 24px;"
    src="https://www.youtube.com/embed/C6zutMP02Mg"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="content">
    <!-- Tweet from Frankful -->
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        In January 2018, we revealed our first concept car. 20 months later, it
        was time to unveil the BYTON M-Byte during our IAA press conference in
        Frankfurt. Here is your platform for life - your personal digital
        lounge.
        <a
          href="https://twitter.com/hashtag/ohMByte?src=hash&amp;ref_src=twsrc%5Etfw"
          >#ohMByte</a
        >
        <a
          href="https://twitter.com/hashtag/iaa19?src=hash&amp;ref_src=twsrc%5Etfw"
          >#iaa19</a
        >
        <a
          href="https://twitter.com/hashtag/meetBYTON?src=hash&amp;ref_src=twsrc%5Etfw"
          >#meetBYTON</a
        >
        <a href="https://t.co/VnAQtKyr6j">pic.twitter.com/VnAQtKyr6j</a>
      </p>
      &mdash; BYTON (@BYTONcars)
      <a
        href="https://twitter.com/BYTONcars/status/1171831464494870528?ref_src=twsrc%5Etfw"
        >September 11, 2019</a
      >
    </blockquote>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
  <div class="content">
    <div class="spaceTop"></div>
    <div class="left">
      <h1>SED Interactive Model</h1>
      <div class="seperator"></div>
    </div>
    <div class="right">
      <h5>BYTON</h5>
      <label class="grey">May 2019</label>
    </div>
    <h2>General Intro</h2>
    <p>
      BYTON is building the smart cockpit for the future of digitalized
      generation with a connected experience. Its featued 48-inch long dashboard
      screen display sets the tone for the cabin experience. 
    </p>
    <p>
      Since the touchpad on the steering wheel is positioned far away off the big
      screen, designing for this digital mobile living space has to follow the logic to make it convenient and safe experience.
    </p>
    <h3>Features Highlights</h3>
    <ul class="square">
      <li>Media</li>
      <p>Integrated with</p>
      <ul class="circle">
        <li class="red">Himalaya (喜马拉雅)</li>
        <li>Apple Music</li>
        <li>Bluetooth</li>
        <li>Radio</li>
      </ul>
      <li>Navigation</li>
      <li>Configuration</li>
      <ul class="circle">
        <li >Ambient Lighting</li>
        <li>Auto Pilot</li>
        <li>Auto Parking</li>
        <li class="red">Climate Control</li>
        <li>Mirror Adjustment</li>
        <li class="red">Seat Adjustment</li>
        <li>...</li>
      </ul>
      <li>Rear Seat Entertainment</li>
      <li>...</li>
    </ul>
  </div>

  <div class="content">
    <p>
      Explore SED interaction pattern with Browser model. This is a In-car
      Himalaya view for users to access all episodes and rearrange based on
      their preferences.
    </p>
    <!-- <img class="designmock" style="width: 100%" src="https://cdn.dribbble.com/users/673497/screenshots/6354775/deploy_list.png" alt="Design Mocks for XXX project"></img> -->
    <video
      id="video"
      playsinline=""
      muted=""
      autoplay=""
      loop=""
      style="background-image:url('https://cdn.dribbble.com/users/673497/screenshots/6449598/drag_switch.png')"
      data-silent="true"
      src="https://cdn.dribbble.com/users/673497/videos/25080/drag_switch.mp4"
    ></video>

    <h3>Iteration on Climate Control</h3>
    <p>
      Enlarged width of fans fully accommodate to fat finger and reduce
      possibility of clicking error to minimum. When the control is touched,
      slider bar will enlarge with color highlight to show the activated status
    </p>
    <video
      id="video"
      playsinline=""
      muted=""
      autoplay=""
      loop=""
      style="background-image:url('https://cdn.dribbble.com/users/673497/screenshots/6448860/cc.png')"
      data-silent="true"
      src="https://cdn.dribbble.com/users/673497/videos/25047/cc.mp4"
    ></video>
    <p>
      Maintain the minimumn target size for tapping and enlarge the area as the
      interaction occurs.
    </p>
    <!-- Slider Temperature -->
    <div class="cp_embed_wrapper">
      <iframe
        name="cp_embed_1"
        src="https://codepen.io/jing-han/embed/orbobd?height=265&amp;theme-id=0&amp;default-tab=css%2Cresult&amp;user=jing-han&amp;slug-hash=orbobd&amp;pen-title=orbobd&amp;name=cp_embed_1"
        scrolling="no"
        frameborder="0"
        height="265"
        allowtransparency="true"
        allowfullscreen="true"
        allowpaymentrequest="true"
        title="orbobd"
        class="cp_embed_iframe "
        style="width: 100%; height:265px; overflow:hidden; display:block;"
        id="cp_embed_orbobd"
      ></iframe>
    </div>
    <p>
      <a href="assets/img/gallery/7_ClimateControl.png" target="_blank"
        ><b> Final Design Solution</b></a
      >
    </p>
    <!-- Seat Adjustment -->
    <div class="cp_embed_wrapper">
      <iframe
        name="cp_embed_1"
        src="https://codepen.io/jing-han/embed/QXyYdJ?height=765&amp;theme-id=3&amp;default-tab=result&amp;user=jing-han&amp;slug-hash=orbobd&amp;pen-title=orbobd&amp;name=cp_embed_1"
        scrolling="no"
        frameborder="0"
        height="765"
        allowtransparency="true"
        allowfullscreen="true"
        allowpaymentrequest="true"
        title="QXyYdJ"
        class="cp_embed_iframe "
        style="width: 100%; height:700px;overflow:hidden; display:block;"
        id="cp_embed_QXyYdJ"
      ></iframe>
    </div>

    <!-- Car Loading Animation -->
    <div class="cp_embed_wrapper">
      <iframe
        name="cp_embed_1"
        src="https://codepen.io/jing-han/embed/rExPXM?height=365&amp;theme-id=0&amp;default-tab=css%2Cresult&amp;user=jing-han&amp;slug-hash=orbobd&amp;pen-title=orbobd&amp;name=cp_embed_1"
        scrolling="no"
        frameborder="0"
        height="365"
        allowtransparency="true"
        allowfullscreen="true"
        allowpaymentrequest="true"
        title="rExPXM"
        class="cp_embed_iframe "
        style="width: 100%; height:465px;overflow:hidden; display:block;"
        id="cp_embed_rExPXM"
      ></iframe>
    </div>
    <div class="spaceTop"></div>
    <p>
      The project is still under NDA hence the details are sparse. For details
      regarding my contribution to this project please reach out to me
      <a class="red" href="">hanjing@umich.edu</a>
    </p>

    <div style="display: none">
      <!-- design direction -->
      <div class="section">
        <h3>Design Directions</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Options</th>
              <th>Smart TV</th>
              <th>Browser</th>
              <th>BYTON</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Description</td>
              <td>Simulate navigating around TV using remote control</td>
              <td>Mapping to browser based interaction style</td>
              <td>Customized Solution for cabin Infotainment</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <img
                  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569142787124&di=fbbafd341db6d0da19185a88d1fea493&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F472e8c6d05ac4a255c1cdb35af01dab14a00b3422392e-c93K6i_fw658"
                  alt=""
                />
              </td>
              <td><img src="assets/img/res/unity/browser.png" alt="" /></td>
              <td>
                <img
                  style="max-width: 400px"
                  src="https://s-4zswac.byton.com/attachments/ck0dfj01u12oy0sk737mr7vew-byton-006.jpg"
                  alt=""
                />
              </td>
            </tr>
            <tr>
              <td>Pros</td>
              <td>Easy to navigate, intuitive to learn</td>
              <td>Fit users mental model, scalable and easy to reproduce.</td>
              <td>Quick access, digital exp especially curated for BYTON</td>
            </tr>
            <tr>
              <td>Cons</td>
              <td>
                Require too many taps, not convenient to surf around while
                driving.
              </td>
              <td>Lack of accuracy under driving condition</td>
              <td>
                Labor intensive, difficult to take every single detail into
                consideration
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Trackpad Model Workflow</h3>
      <p>Screen UI build in
          Unity that switch day and night model based according to color specified
          in a json file.</p>
      <h6>Browser Model</h6>
      <img src="assets/img/res/unity/sed1.png" alt="SED Flows" />
      <h5>BYTON Model</h5>
      <img src="assets/img/res/unity/sed.png" alt="SED Flows" />
      <img
        src="assets/img/res/unity/rse.png"
        alt="Rear Seat Entertainment UI"
      />
      <h6>Media Prototype</h6>
      <iframe
        style="width: 100%;height: 400px;"
        src="https://www.youtube.com/embed/zf_F94SvwCc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <h6>Climate Control</h6>
      <img src="assets/img/gallery/7_ClimateControl.png" alt="">
      <h6>Unity Work</h6>
      <div class="columns">
        <div class="column">
            <iframe
            style="width: 100%;height: 400px;"
            src="https://www.youtube.com/embed/Dru8mylnz0Y"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="column">
            <iframe
            style="width: 100%;height: 400px;"
            src="https://www.youtube.com/embed/lJP1SC3ap7w"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="spaceTop"></div>
  </div>
</div>
<app-home></app-home>
