<div class="spaceTop"></div>
<h1>
  Timeline
</h1>
<div class="entries">
  <div class="entry"></div>
  <div class="entry">
    <div class="title big">Current</div>
    <div class="sub_title"><a href=""> BYTON</a></div>
    <div class="location">
      Sr. UX Engineer
      <!--& Manager -->
    </div>
    <div class="body">
      <p>Designed internal tools for BYTON Aftersales team to run:</p>
      <ul>
        <!--dir="rtl"-->
        <li>
          <a href="https://sketch.cloud/s/L9jo3" target="_blank">
            Smart Diagnostics </a
          > /
          <span class="tooltip">
              OTA
              <span class="tooltiptext">Over The Air Deployment</span>
          </span>
            /
            <span class="tooltip">
              DSMP
              <span class="tooltiptext"
                >Digital Service Management Platform that manages SIM Cards
                Status</span
              >
            </span>
            /
            <span class="tooltip"
              >GBT
              <span class="tooltiptext"
                >Global battery charging management system</span
              >
            </span>
        </li> 
      </ul>

      <p>
        Created style guides with branding language, media resources, icon
        library to communicate brand value. In the mean time, introduced and
        built Sketch based style library to ensure design consistency.
      </p>
      <p>
        <li>
          <a  href="https://hanjing-byton.bitbucket.io/" target="_blank">
            BYTON Asset Library</a
          >
          /
          <a href="https://sketch.cloud/s/akzxD" target="_blank">
            Sketch UI Lib</a
          >/
          <a 
            href="http://hanjing7.com/portfolioAsset/OTAstyle/BytonID.html"
            target="_blank"
          >
            CSS UI Library</a
          >
        </li>
      </p>
      <p>Manages a team of 3 supports department wide design tasks.</p>
              <a target="_blank" href="https://www.byton.com/"
                >BYTON Home
              </a>
              /
              <a target="_blank" href="https://byton.zoom.us/">
                Zoom
              </a>
    </div>
  </div>

  <div class="entry">
    <div class="title ">2018</div>
    <div class="sub_title"><a href=""> FINRA </a></div>
    <div class="location">UX/UI Designer II</div>
    <div class="body">
      <p>
        Worked in agile teams to improve central licensing and registration
        system that helps companies better manages compliance tasks.
      </p>
      <p>
        <span class="tooltip" href="https://www.finra.org/registration-exams-ce/classic-crd"
          target="_blank"
        >
          Web CRD
          <span class="tooltiptext"
            >FINRA operates the Central Registration Depository (Web CRD®), the
            central licensing and registration system used by the U.S.
            securities industry and its regulators. Web CRD contains the
            registration records of broker-dealer firms and their associated
            individuals including their qualification, employment and disclosure
            histories; it also facilitates the processing of form filings,
            fingerprint submissions, qualification exams and continuing
            education sessions.
          </span>
        </span>
        /
        <span
          class="tooltip" 
          href="https://www.finra.org/registration-exams-ce/finpro"
          target="_blank"
        >
          FinPro
          <span class="tooltiptext"
            >FINRA’s Financial Professional Gateway provides individuals
            (current or former representatives) direct access to resources and
            tools to manage their securities registration requirements.</span
          >
        </span>
        /
        <span
          class="tooltip" 
          href="https://www.finra.org/registration-exams-ce/continuing-education"
          target="_blank"
        >
          TESS
          <span class="tooltiptext"
            >The Regulatory Element of FINRA's Continuing Education (CE) program
            focuses on compliance, regulatory, ethical and sales practice
            standards.
          </span>
        </span>
      </p>

      <p>Redesigned the top 3 traffic driving websites in FINRA</p>
      <a class="tooltip" href="https://brokercheck.finra.org/" target="_blank">
        BrokerCheck
        <span class="tooltiptext"
          >BrokerCheck is a free tool to research the background and experience
          of financial brokers, advisers and firms.</span
        >
      </a>
      /
      <a
        class="tooltip" 
        href="https://tools.finra.org/fund_analyzer/"
        target="_blank"
      >
        FundAnalyzer
        <span class="tooltiptext"
          >The FINRA Fund Analyzer helps investors and financial professionals
          understand the impact of fees and potentially potential available
          discounts on mutual funds. The Fund Analyzer allows individuals to
          sort through and compare more than 30,000 products available to
          investors today and calculates how a fund's fees, expenses and
          discounts impact the value of a fund over time. With a focus on the
          impact of fund fees and expenses as well as account-based fees,
          investors can better determine which funds might best meet their
          investing needs at the lowest cost while providing the best value.
        </span>
      </a>
      /
      <a class="tooltip" href="https://ofac.finra.org/#/" target="_blank">
        OFAC
        <span class="tooltiptext"
          >The Office of Foreign Assets Control ("OFAC") of the US Department of
          the Treasury administers and enforces economic and trade sanctions
          based on US foreign policy and national security goals against
          targeted foreign countries and regimes, terrorists, international
          narcotics traffickers, those engaged in activities related to the
          proliferation of weapons of mass destruction, and other threats to the
          national security, foreign policy or economy of the United​
          States.</span
        >
      </a>
      <p>Lead a team of 2 designers within the RAD domain.</p>
      <p>
        Design & coded
        <a 
          href="https://chutianwen.github.io/CarpoolApp2019/map"
          target="_blank"
          >FINRA Carpool App</a
        >
        to help employees find matching riders on commute.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2015</div>
    <div class="sub_title"><a href=""> Nexient </a></div>
    <div class="location">UX Designer</div>
    <div class="body">
      <p>
        As the very first and only designer, help integrated numerous internal
        tools for Fortune 500 companies, including NBCU Move hond App, 11 Main
        site design,
        <a  href="http://mylife.adpts.com/" target="_blank">ADP Health Portal</a
        >, Best Buy Agent UI, and Hagerty iOS App.
      </p>
      <p>
        <a  href="http://ux.nexient.com" target="_blank" class="tooltip"
          >Nexient UX demo
          <span class="tooltiptext">Powered by Impress.js</span>
        </a>
      </p>
    </div>
  </div>

  <div class="entry">
    <div class="title ">2014</div>
    <div class="sub_title">
      <a href=""> UMich Cancer Center Informatics </a>
    </div>
    <div class="location">Programmer Analyst (Part Time)</div>
    <div class="body">
      <p>
        Design, developed and styled
        <a href="https://cci.med.umich.edu/cancer-center-informatics-overview" target="_blank"
          >CCI website</a
        >
        in Drupal CMS platform
      </p>
      <p>
        Performing contextual Inquiry among department to improve business
        process flow
      </p>
      <p>
        Installed and utilized data analysis tools including Pentaho & Tableau
        to visualize database info
      </p>
      <!-- <p>System evaluation, requirements identification and feedback analysis</p> -->
    </div>
  </div>
  <div class="entry">
    <div class="title">2013</div>
    <div class="sub_title"><a href=""> University of Michigan</a></div>
    <div class="location">Ann Arbor, Michigan</div>
    <div class="body">
      <p>M.S. of Informatics - Human Computer Interaction</p>
      <p><a href="">Transcript</a></p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2012</div>
    <div class="sub_title"><a href=""> WinLong Tech Inc.</a></div>
    <div class="location">GUI Developer</div>
    <div class="body">
      <p>
        Designed and wireframe the company website and name card for all
        employees and Developed system GUI under Linux to retrieve and display
        system data and created customized system configurations and interfaces.
      </p>
      <a href="https://api.ai2hit.com/activity/">Ai2Hit</a>
    </div>
  </div>

  <div class="entry">
    <div class="title">2008</div>
    <div class="sub_title">University of Arizona</div>
    <div class="location">Tucson, Arizona • Magna Cum Laude</div>
    <div class="body">
      <p>
        B.S. of Business Administration - Management Information System & Minor
        in Mathematics
      </p>
      <p>
        Salter Award for Leadership and Services / “Eller 100”
        for Outstanding Graduates
      </p>
      <p><a href="">Transcript</a></p>
    </div>
  </div>
  <div class="entry">
    <div class="title">VIEW</div>
    <div class="sub_title">&nbsp;</div>
    <div class="location">
      <a class="red" href="http://hanjing7.com/resource/JingHan19.pdf?i=1">
        <i class="fa fa-download"></i><b> Jing's Resume</b>
      </a>
    </div>
  </div>
  <!--Background Display with Map-->
  <div class="dot" id="elem"></div>
  <div class="bg" id="count"></div>
</div>
<app-about></app-about>
