<div class="triangle1 block"></div>
<div class="triangle2 block"></div>
<div class="triangle3 block"></div>
<div class="triangle4 block"></div>

<div class="content-area">
    <div class="content">
        <div class="back">
            <a routerLink="/home">
                <i class="fa fa-chevron-left"></i><span>Back To Home</span>
            </a>
        </div>
        <div></div>
        <div class="left">
            <h1>OFAC</h1>
            <div class="seperator"></div>
        </div>
        <div class="right">
            <h5>FINRA</h5>
            <label class="grey">Jun 2017</label>
        </div>
        <h2>About This App</h2>
        <p>
            OFAC Search is a tool provided by FINRA folllowing OFAC regulations that prohibit transactions with certain persons and organizations listed on the OFAC website as "Terrorists" and "Specially Designated Nationals and Blocked Persons," as well as listed
            embargoed countries and regions. Firms can check this list on an ongoing basis to ensure that potential customers and existing customers are not prohibited persons or entities and are not from embargoed countries or regions before transacting
            any business with them.
        </p>
        <h5>OFAC User Flow Diagram</h5>
        <img src="assets/img/res/ofac/OFACUserflow.jpg" alt="OFAC Workflow Diagram" />
        <iframe class="prototype" scrolling="no" title="Text Area Input" src="//codepen.io/jing-han/embed/gNEGRb/?height=265&theme-id=0&default-tab=css,result" frameborder="no" allowtransparency="true" allowfullscreen="true">
          See the Pen <a href='https://codepen.io/jing-han/pen/gNEGRb/'>Text Area Input</a> by Jing Han
          (<a href='https://codepen.io/jing-han'>@jing-han</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
        <p class="red fa-lg">
            <i class="fa fa-link"></i>
            <b>
        <a class="red" href="https://ofac.finra.org/#/">FINRA OFAC Search Site</a></b
      >
    </p>
  </div>
</div>
<app-home></app-home>