<nav>
    <div id="dockbottom">
        <div id="container">
            <img class="" routerLink="/home" src="assets/img/dock/home.png" />
            <img class="hello1" routerLink="/timeline" src="assets/img/dock/timeline.png" />
            <img routerLink="/gallery" src="assets/img/dock/gallery.png" />
            <img routerLink="/craft" src="assets/img/dock/craft.png" />
            <img routerLink="/cv" src="assets/img/dock/about.png" />
            <div id="bg"></div>
        </div>
    </div>
</nav>
